#  Object Oriented Programming (OOP)

<img src="profile_manoelgadi.png" width=100 height=100 align="right">

Author: Prof. Manoel Gadi

Contact: mfalonso@faculty.ie.edu

Teaching Web: http://mfalonso.pythonanywhere.com

Last revision: 27/June/2021

---

## Difference between Procedure Oriented and  Object Oriented Programming!

* Procedural programming creates a step by step program that  guides the application through a sequence of instructions. Each  instruction is executed in order.
* Procedural programming also focuses on the idea that all  algorithms are executed with functions and data that the  programmer has access to and is able to change.
* Object-Oriented programming is much more similar to the way  the real world works; it is analogous to the human brain. Each  program is made up of many entities called objects.
* Instead, a message must be sent requesting the data, just like  people must ask one another for information; we cannot see  inside each other’s heads.


__del something__ # (1) It is __procedural programming__ (PP)

__del(something)__ # (2) It is __functional programming__ (FP)

__something.del()__ # (3) It is __object oriented programming__ (OOP)

3 different paradigms, and Python is 90% (3 - OOP), 9% (2 - FP) and some bizarre cases it is (1 - PP) like in del my_dict[key]!!!

The following is a method that can only be applied to strings so lower(a) makes no sense because lower(10) would fail:

In [ ]:
a = ' BiG MuG '
a.lower() # MÉTODO, una función que solo esta disponible para este objeto!

In [ ]:
b = a.lower()
a, b

In [ ]:
a.upper()

In [ ]:
a.strip()

Chainning methods as the returned object if from the same type as the original

In [ ]:
type(a), type(a.strip())

In [ ]:
a.strip().upper()

In [ ]:
a.strip().upper().split(' ')

Using join to turn the list back into a string

In [ ]:
';'.join(a.strip().upper().split(' '))

## The rule of thumb in Python for methods vs. functions
__A function can be applied to one or more type__ of things (objects), while __methods are specific and can only be applied to one type__, “things” (objects) of one given type (one given class)

In [ ]:
import random as rd
frog_tuple = ('L','L','L','','R','R','R')
frog_list = ['L','L','L','','R','R','R']

In [ ]:
def randomize_frogs(frogs):
    """
    Randomizes the order of the frogs without altering the original list / tuple types
     Input: List / Tuple of elements
     Output: New List / Tuple of elements in random order
    """
    if type(frogs) not in (list,tuple):
        print('Error: El tipo de entrada tiene que ser lista o tupla')
        return(None)
    t = True if type(frogs) == tuple else False    
    frogs = list(frogs).copy()
    for x in range(len(frogs)):
        rd1 = x
        rd2 = rd.randint(0,6)
        frogs[rd1],frogs[rd2] = frogs[rd2],frogs[rd1]
    # if t == True:
    #     return(tuple(lista))
    # else:
    #     return(lista)
    return(tuple(frogs) if t else frogs)

Note that if we send a tuple the function returns a tuple

In [ ]:
frog_tuple_res = randomize_frogs(frog_tuple)
type(frog_tuple_res),frog_tuple_res

Note that if we send a tuple the list returns a list

In [ ]:
frog_list_res = randomize_frogs(frog_list)
type(frog_list_res),frog_list_res

Therefore, this is a clear candidate to remain a function.

# Classes
<img src="classes1.png" width=500 align="center">

## Using a Class to Make Many Objects

A class is like a cookie cutter that can be used many times to make many cookies. There is only one cookie cutter, but can be used to make many cookies. Cookies are objects and each one has its own individuality because each one is made out of a different section of dough. Different cookies may have different characteristics, even though they follow the same basic pattern. For example, different cookies can have different candy sprinkles or frosting, or be backed for different times.

Cookies can be created. And cookies can be destroyed (just ask Cookie Monster). But destroying cookies does not affect the cookie cutter. It can be used again if there is dough left.

A big cookie jar might require many cookies made with many different cookie patterns (stars, hearts, squares, gingerbread androids...) A big cookie (such as a gingerbread house) might be built out of many smaller cookies of several different types. 

<img src="cookieDough.gif" width=500 align="center">

## Object (Instance of a Class)

<img src="classes2.png" width=500 align="center">

## Features of OOP

* Ability to simulate real-world event much more effectively
* Code is reusable thus less code may have to be written
* Data becomes active
* Better able to create GUI (graphical user interface) applications
* Programmers are able to produce faster, more accurate and better-  written applications

# The four major principles of object orientation are:
* Encapsulation - Attributes (variables) and Methods (functions) belong to the single object and can only be used/applied to that particular object.
* Data Abstraction - "shows" only essential attributes and "hides" unnecessary information.
* Inheritance - the super power of creating a new class with more attributes or methods by extending another, example creating your own Pandas Dataframe ;-)
* Polymorphism - the ability of an object to take on many forms - For example, lets say we have a class Animal that has a method sound() . Since this is a generic class so we can't give it a implementation like: Roar, Meow, Oink etc. We had to give a generic message.

# What is an Object..?
* Objects	are	the	basic	run-time	entities	in	an	object-oriented system.
* They may represent a person, a place, a bank account, a table of  data or any item that the program must handle.
* When	a	program	is	executed	the	objects	interact	by	sending messages to one another.
* Objects have two components: Data (i.e., attributes) / Behaviors (i.e., methods)

## Let's create a class

In [ ]:
contador = 0

def ladra(perro):
    global contador
    contador = contador + 1
   
    print("{} dice Au au! veces={}".format(perro, contador))

ladra("lolo")
ladra("toby")
ladra("lolo")

In [6]:
contador = 0 # GLOBAL - PROCEDURAL

class Perro:
    contador = 0 # PERSISTENTE
    nombre = ""
    
    def __init__(self, nombre): # REDEFINICIÓN CONSTRUCTOR!
        self.nombre = nombre
    
    def ladra(self):
        # contador = 0 # LOCAL
        # global = 0 # GLOBAL
        # self.local = 0 # self quiere decir la intermedia - es la persinte del objeto (PERRO creado)
        
        self.contador = self.contador + 1

        print("{} dice Au au! veces={}".format(self.nombre, self.contador))

lolo = Perro("lolo") 
tobby = Perro("tobby")

lolo.ladra()
tobby.ladra()
lolo.ladra()

lolo dice Au au! veces=1
tobby dice Au au! veces=1
lolo dice Au au! veces=2

### Self (the object itself calling the method)

<img src="classes3b.png" width=500 align="center">

Note that methods (functions) and attribules (variables) belong to each object.

# Full Example:

In [7]:
class Dog :
    """ Blueprint of a dog """
    # class variable shared by all instances
    species = [ "canis lupus" ]
    def __init__ (self, name, color) :
        self.name = name
        self.state = "sleeping"
        self.color = color
    def command (self, x) :
        if x == self.name:
            self.bark( 2 )
        elif x == "sit" :
            self.state = "sit"
        else :
            self.state = "wag tail"
    def bark (self, freq) :
        for i in range(freq):
            print( "[" + self.name + "]: Woof!" )

In [10]:
bello = Dog( color="black", name = "bello" )
alice = Dog( "alice" , "white" )
print(bello.color) # black
print(alice.color) # white

black
white

In [12]:
bello.bark( 3 ) # [bello]: Woof!

[bello]: Woof!
[bello]: Woof!
[bello]: Woof!

In [13]:
alice.state

'sleeping'

In [14]:
alice.command( "sit" )
print( "[alice]: " + alice.state)

[alice]: sit

In [15]:
bello.state

'sleeping'

In [16]:
# [alice]: sit
bello.command( "no" )
print( "[bello]: " + bello.state)

[bello]: wag tail

In [17]:
# [bello]: wag tail
alice.command( "alice" )

[alice]: Woof!
[alice]: Woof!

In [18]:
bello.species

['canis lupus']

In [19]:
bello.species = bello.species + [ "wulf" ]
# bello.__species__ = bello.__species__ + [ "wulf" ] #

['canis lupus', 'wulf']

In [20]:
# [alice]: Woof!
# [alice]: Woof!
print(len(bello.species) == len(alice.species)) # True (!)

False

---

## You can create classes “on the fly” and use them as logical units to store complex data types.

In [29]:
class Employee() :
    pass

sofia = Employee()

In [31]:
sofia.salario = 200000

In [32]:
sofia.salario

200000

In [35]:
sofia.primer_nombre = "Sofia"
sofia.apellido = "Almendros"

In [37]:
print("Nombre del empleado: {} {}".format(sofia.primer_nombre, sofia.apellido))

Nombre del empleado: Sofia Almendros

In [ ]:
employee.salary = 122000
employee.firstname = "alice"
employee.lastname = "wonderland"
print(employee.firstname + " " + employee.lastname + " " + str(employee.salary) + "$" )

In [41]:
alba = Employee()
alba.primer_nombre = "Alba"
alba.primer_nombre

'Alba'

## Adding attributes & methods to a Pandas DataFrame

In [42]:
import pandas as pd
df = pd.DataFrame()

In [43]:
df.myatribute = 'Manoel'

In [44]:
df.myatribute

'Manoel'

In [45]:
type(df)

pandas.core.frame.DataFrame

In [46]:
df.columns

Index([], dtype='object')

In [48]:
df.myatribute

'Manoel'

# BUG

In [49]:
import pandas as pd
df = pd.read_csv("anorexia.csv")

In [50]:
df.group.value_counts()

1    29
2    26
3    17
Name: group, dtype: int64

The following can be considered a "bug" in pandas because the result is very poorly understood.

In [51]:
df.mode()

     ID  group  prewt  postwt  difwt
0   101    1.0   80.5    81.4  -10.2
1   102    NaN   83.3     NaN   -0.7
2   103    NaN   86.0     NaN   -0.1
3   104    NaN    NaN     NaN    3.9
4   105    NaN    NaN     NaN    NaN
..  ...    ...    ...     ...    ...
67  313    NaN    NaN     NaN    NaN
68  314    NaN    NaN     NaN    NaN
69  315    NaN    NaN     NaN    NaN
70  316    NaN    NaN     NaN    NaN
71  317    NaN    NaN     NaN    NaN

[72 rows x 5 columns]

In [53]:
df.mode().T.fillna("")

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
ID,101.0,102.0,103.0,104.0,105.0,106.0,107.0,108.0,109.0,110.0,...,308.0,309.0,310.0,311.0,312.0,313.0,314.0,315.0,316.0,317.0
group,1.0,,,,,,,,,,...,,,,,,,,,,
prewt,80.5,83.3,86.0,,,,,,,,...,,,,,,,,,,
postwt,81.4,,,,,,,,,,...,,,,,,,,,,
difwt,-10.2,-0.7,-0.1,3.9,,,,,,,...,,,,,,,,,,

## Let's solve it using some pandas options

In [54]:
import numpy as np
df.mode().T.replace(np.nan,"")

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
ID,101.0,102.0,103.0,104.0,105.0,106.0,107.0,108.0,109.0,110.0,...,308.0,309.0,310.0,311.0,312.0,313.0,314.0,315.0,316.0,317.0
group,1.0,,,,,,,,,,...,,,,,,,,,,
prewt,80.5,83.3,86.0,,,,,,,,...,,,,,,,,,,
postwt,81.4,,,,,,,,,,...,,,,,,,,,,
difwt,-10.2,-0.7,-0.1,3.9,,,,,,,...,,,,,,,,,,

In [55]:
def mode(self):
    return self.mode().T.replace(np.nan,"")

## Functional Programming

In [56]:
mode(df)

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
ID,101.0,102.0,103.0,104.0,105.0,106.0,107.0,108.0,109.0,110.0,...,308.0,309.0,310.0,311.0,312.0,313.0,314.0,315.0,316.0,317.0
group,1.0,,,,,,,,,,...,,,,,,,,,,
prewt,80.5,83.3,86.0,,,,,,,,...,,,,,,,,,,
postwt,81.4,,,,,,,,,,...,,,,,,,,,,
difwt,-10.2,-0.7,-0.1,3.9,,,,,,,...,,,,,,,,,,

## Object Oriented Programming - Adding Methods on the fly
reference: https://stackoverflow.com/questions/972/adding-a-method-to-an-existing-object-instance

In [57]:
df.mode2 = mode.__get__(df)

In [58]:
df.mode2()

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
ID,101.0,102.0,103.0,104.0,105.0,106.0,107.0,108.0,109.0,110.0,...,308.0,309.0,310.0,311.0,312.0,313.0,314.0,315.0,316.0,317.0
group,1.0,,,,,,,,,,...,,,,,,,,,,
prewt,80.5,83.3,86.0,,,,,,,,...,,,,,,,,,,
postwt,81.4,,,,,,,,,,...,,,,,,,,,,
difwt,-10.2,-0.7,-0.1,3.9,,,,,,,...,,,,,,,,,,

## More Advanced Solution - Creating our own class with a DF inside

In [59]:
import pandas as pd    
class CustomDF():
    def  __init__(self, filename):
        self.data = pd.read_csv(filename)
    def mode(self):
        return self.data.mode().T.replace(np.nan,"")
    def set_df(self, df):
        self.data = df
    def get_df(self):
        return self.data

In [60]:
csdf = CustomDF("anorexia.csv")

In [61]:
type(csdf)

__main__.CustomDF

In [62]:
csdf.mode()

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
ID,101.0,102.0,103.0,104.0,105.0,106.0,107.0,108.0,109.0,110.0,...,308.0,309.0,310.0,311.0,312.0,313.0,314.0,315.0,316.0,317.0
group,1.0,,,,,,,,,,...,,,,,,,,,,
prewt,80.5,83.3,86.0,,,,,,,,...,,,,,,,,,,
postwt,81.4,,,,,,,,,,...,,,,,,,,,,
difwt,-10.2,-0.7,-0.1,3.9,,,,,,,...,,,,,,,,,,

In [63]:
csdf.set_df(df)

In [64]:
csdf.mode()

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
ID,101.0,102.0,103.0,104.0,105.0,106.0,107.0,108.0,109.0,110.0,...,308.0,309.0,310.0,311.0,312.0,313.0,314.0,315.0,316.0,317.0
group,1.0,,,,,,,,,,...,,,,,,,,,,
prewt,80.5,83.3,86.0,,,,,,,,...,,,,,,,,,,
postwt,81.4,,,,,,,,,,...,,,,,,,,,,
difwt,-10.2,-0.7,-0.1,3.9,,,,,,,...,,,,,,,,,,

In [65]:
df2 = csdf.get_df()

In [66]:
type(df2)

pandas.core.frame.DataFrame

In [67]:
df2.mode()

     ID  group  prewt  postwt  difwt
0   101    1.0   80.5    81.4  -10.2
1   102    NaN   83.3     NaN   -0.7
2   103    NaN   86.0     NaN   -0.1
3   104    NaN    NaN     NaN    3.9
4   105    NaN    NaN     NaN    NaN
..  ...    ...    ...     ...    ...
67  313    NaN    NaN     NaN    NaN
68  314    NaN    NaN     NaN    NaN
69  315    NaN    NaN     NaN    NaN
70  316    NaN    NaN     NaN    NaN
71  317    NaN    NaN     NaN    NaN

[72 rows x 5 columns]

## Exercise part 1 - create a class named Company with the following attributes:
* nif: company fiscal number
* company_name: Company Name
* CNAE: Business Sector
* p10000: Total Assets / Total activos
* p20000: Own Capital / Patrimonio neto
* p31200: Short Term Debt / Deuda a corto plazo
* p32300: Long Term Debt / Deuda a largo plazo
* p40100_40500: Sales Turnover (Ingresos de Explotación) + Other sales (Otros Ingresos)
* p40800: Amortization (Amortización)
* p49100: Profit (Resultado del ejercicio)

In [112]:
class Company:
    ebitda_margin = 0
    debt_ebitda = 0
    apalancamiento_financiero = 0
    def __init__(self, nif, company_name, CNAE, p10000, p20000, p31200, p32300, p40800, p40100_40500, p49100):
        self.nif = nif
        self.company_name = company_name
        self.CNAE =CNAE
        self.p10000 = p10000
        self.p20000 = p20000
        self.p31200 = p31200
        self.p32300 = p32300
        self.p40800 = p40800
        self.p40100_40500 = p40100_40500
        self.p49100 = p49100
    def calcula_ebitda_margin(self):
        if (self.ebitda_margin != 0):
            return(self.ebitda_margin)
        self.ebitda_margin =  (self.p49100 + abs(self.p40800)) / self.p40100_40500
        return(self.ebitda_margin)
    def calcula_debt_ebitda(self):
        if(self.debt_ebitda !=0):
            return(self.debt_ebitda)
        self.debt_ebitda = (self.p31200+self.p32300)/(self.p49100 + abs(self.p40800))
        return(self.debt_ebitda)
    def calcula_apalancamiento_financiero(self):
        if(self.apalancamiento_financiero != 0):
            return(self.apalancamiento_financiero)
        self.apalancamiento_financiero = (self.p10000-self.p20000)/self.p20000
        return(self.apalancamiento_financiero)

Then, a constructor to set those values. Test with:

In [113]:
c1 = Company('A28015865', # nif: company fiscal number
        'Telefonica, SA', # company_name: Company Name
        6420,             # CNAE: Sector de la Empresa
        115066000.0,      # p10000: Total Assets / Total activos
        26618000.0,       # p20000: Own Capital / Patrimonio neto
        46332000.0,       # p31200: Short Term Debt / Deuda a corto plazo
        9414000.0,        # p32300: Long Term Debt / Deuda a largo plazo
        -9396000.0,       # p40800: Amortization (Amortización)
        52455000.0,       # p40100_40500: Sales Turnover (Ingresos de Explotación) + Other sales (Otros Ingresos)
        6791000.0)        # p49100: Profit (Resultado del ejercicio)

In [114]:
c1.ebitda_margin, c1.debt_ebitda, c1.apalancamiento_financiero

(0, 0, 0)

In [115]:
c1.company_name, c1.calcula_ebitda_margin(), c1.calcula_debt_ebitda(), c1.calcula_apalancamiento_financiero()

('Telefonica, SA', 0.30858831379277474, 3.443874714276889, 3.3228642272146667)

In [116]:
c1.ebitda_margin, c1.debt_ebitda, c1.apalancamiento_financiero

(0.30858831379277474, 3.443874714276889, 3.3228642272146667)

## Part 2 - create 3 methods

* 1: get_ebitda_margin: Ebitda / Turn over (Ventas)
* calculate and return: (p49100 + abs(p40800)) / p40100_40500
* test using: e.get_ebitda_margin()


* 2: get_total_debt_ebitda: Total Debt / Ebita 
* calculate and return: (p31200+p32300)/(p49100 + abs(p40800))
* test using: e.get_total_debt_ebitda()


* 3: get_leverage: Financial leveraging / apalancamiento financiero 
* calculate and return: (p10000-p20000)/p20000
* test using: e.get_leverage()