In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('./database.db')

In [3]:
c = conn.cursor()

In [4]:
c.execute("""CREATE TABLE cafes (
id INTEGER PRIMARY KEY,
nombre TEXT NOT NULL,
precio REAL NOT NULL);
""")

In [5]:
conn.commit()

In [6]:
c.execute("""INSERT INTO cafes VALUES (null, 'Colombiano', 7.99);""")

In [7]:
conn.commit()

In [8]:
c.execute("""INSERT INTO cafes VALUES (null, 'Francés', 8.99);""")
c.execute("""INSERT INTO cafes VALUES (null, 'Spanish Latte', 10.99);""")
c.execute("""INSERT INTO cafes VALUES (null, 'Espresso', 6.99);""")
conn.commit()

In [20]:
for fila in c.execute("SELECT * from cafes;"):
    print("id={}; nombre={}; precio={}".format(fila[0], fila[1], fila[2]))

id=1; nombre=Colombiano; precio=7.99
id=2; nombre=Francés; precio=8.99
id=3; nombre=Spanish Latte; precio=10.99
id=4; nombre=Espresso; precio=4.99

In [19]:
c.execute("UPDATE cafes SET precio = 4.99 WHERE id=4;")

In [21]:
conn.commit()